<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="container">

                <div class="col-md-3">
                    <a class="btn btn-block btn-lg btn-parameterize" data-toggle="modal" href="./index.html#!/solicitudes">
                        <i class="fa fa-cart-arrow-down" id="icone_grande"></i> <br><br>
                        <span class="text-center"><i class="fa fa-cart-arrow-down"></i> Solicitudes</span></a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-block btn-lg btn-primary" data-toggle="modal" href="./index.html#!/cotizaciones">
                        <i class="fa fa-hand-grab-o" id="icone_grande"></i> <br><br>
                        <span class="text-center"><i class="fa fa-pie-chart"></i> Cotizaciones</span></a>
                </div>



            </div>
        </div>


    </div>

</div>


